<md-card>
    <md-card-title>{{ editName }}</md-card-title>
    <md-card-content>
        <div *ngIf="crisis">
            <md-chip-list>
                <md-chip color="accent">Id: {{ crisis.id }}</md-chip>
            </md-chip-list>
            <div style="height: 10px"></div>
            <md-input-container>
                <input mdInput [(ngModel)]="editName" placeholder="Name"/>
            </md-input-container>
            <button md-raised-button color="primary" (click)="save()">Save</button>
            <button md-raised-button color="accent" (click)="cancel()">Cancel</button>
        </div>
    </md-card-content>
</md-card>
